
 @media screen and (min-width: 320px) and (max-width: 374.99px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
  }

  .logoWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  .logo {
    width: 42px;
    height: 17px;
  }

  .logoHeader {
  display: none;
}

  .formWrapper {
    border-radius: 30px;
    width: 100%;
    max-width: 335px; 
    height: 411px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px 20px;
    background-color: var(--primary-color-dark-gray);
    position: relative;
  }

  .title {
    font-weight: 700;
    font-size: 24px; 
    line-height: 100%;
    color: var(--primary-color-white);
    margin-top: 20px; 
    height: auto;
    width: 100%; 
    margin-bottom: 10px; 
  }

  .titleSpan {
    color: var(--primary-color-text);
    font-weight: 700;
    font-size: 24px; 
    line-height: 100%;
  }

  .iphoneWrapper {
    border-radius: 30px;
    width: 100%;
    max-width: 335px; 
    height: 411px; 
    background-color: var(--primary-color-dark-gray);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .iphone {
    width: 80%;
    height: auto; 
    max-width: 255px;
max-height: 351px;
  }
}



  @media screen and (min-width: 375px) {

    .wrapper{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap:10px;
margin: 0 auto;
    }

.logoWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
width: 42px;
height: 17px;

    }

.logoHeader {
  display: none;
}

 .formWrapper {
    border-radius: 30px;
width: 335px;
height: 411px;
display: flex;
flex-direction: column;
padding: 20px;
background-color: var(--primary-color-dark-gray);
 }

.title {
font-weight: 700;
font-size: 31px;
line-height: 100%;
color: var(--primary-color-white);
margin-top: 20px;
height: 64px;
    width: 295px;
    margin-bottom: 20px;
}

.titleSpan {
    color: var(--primary-color-text);
font-weight: 700;
font-size: 31px;
line-height: 100%;
}

 .iphoneWrapper {
    border-radius: 30px;
width: 335px;
height: 411px;
background-color: var(--primary-color-dark-gray);
display: flex;
justify-content: center;
align-items: flex-end;
  }
  
  .iphone {
    width: 255px;
height: 351px;
  }
  }

  @media screen and (min-width: 768px) {

    .logoContainer {
      display: flex;
      flex-direction: row;
      gap: 4px;
    }

.logoHeader {
  display: block;
font-weight: 700;
font-size: 18px;
line-height: 100%;
text-transform: uppercase;
}

 .formWrapper {
width: 704px;
height: 960px;
padding: 40px 64px;
 }

.title {
font-weight: 700;
font-size: 64px;
line-height: 94%;
color: var(--primary-color-white);
margin-top: 157px;
height: 180px;
    width: 444px;
    margin-bottom: 40px;
}

.titleSpan {
    color: var(--primary-color-text);
font-weight: 700;
font-size: 64px;
line-height: 94%;
}

 .iphoneWrapper {
 display: none;
  }
  
}
  @media screen and (min-width: 1440px) {

   .wrapper{
display: flex;
flex-direction: row;
gap: 16px;
    }

 .formWrapper {
width: 600px;
height: 736px;
 }

.title {
margin-top: 107px;
}

 .iphoneWrapper {
  display: flex;
width: 600px;
height: 736px;
justify-content: center;
align-items: flex-end;
  }
  
  .iphone {
    width: 405px;
height: 647px;
  }
}