


@media screen and (min-width: 320px) and (max-width: 374.99px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px; 
    position: absolute;
    top: 161px;
    left: 12%; 
    width: 77%;
    max-width: 294px;
  }


  .label {
   
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--primary-color-form-gray);
    position: absolute;
    top: 14px;
    left: 14px;
  }

  .field {
    width: 100%;
    border-radius: 12px;
    padding: 14px; 
    height: 44px;
    background-color: var(--primary-color-main-gray);
    border: none;
    margin-bottom: 8px;
    outline: none;
  }

  .label span {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-align: flex-start;
    color: var(--primary-color-white);
    margin-left: 10px;
  }

  .passwordContainer {
    position: relative;
    width: 100%;
  }

  .passwordBtn {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
  }

  .passwordIcon {
    width: 10px;
    height: 10px;
    fill: transparent;
    stroke: var(--primary-color-white);
  }

  .formBtn {
    font-size: 12px;
    border-radius: 30px;
    padding: 12px;
    width: 60%;
    max-width: 100px; 
    height: 42px;
    background-color: var(--primary-color-white);
    margin-top: 12px;
  }

  .linkWrapper {
    display: flex;
    gap: 14px;
    align-items: center;
    width: 100%;
  }

  .link {
    font-size: 10px;
    line-height: 117%;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--primary-color-form-gray);
    text-decoration: none;
  }

  .linksContainer {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 8px;
  }
}


/* @media screen and (min-width: 320px) and (max-width: 374.99px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px; 
    position: absolute;
    top: 161px;
    left: 40px; 
    width: 75%;
    max-width: 294px;
    border: 1px solid red;
  }

} */


  @media screen and (min-width: 375px) {

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 295px;
    position: absolute;
    top: 161px;
    left: 40px;
}

    .label {
font-weight: 500;
font-size: 12px;
line-height: 133%;
letter-spacing: -0.02em;
text-align: center;
color: var(--primary-color-form-gray);
position: absolute;
top: 14px;
left: 14px;
    }

    .field {
        border-radius: 12px;
padding: 14px;
width: 295px;
height: 44px;
background-color: var(--primary-color-main-gray);
border: none;
margin-bottom: 8px;
outline: none;
    }
.label span {
font-weight: 500;
font-size: 12px;
line-height: 133%;
letter-spacing: -0.02em;
text-align: flex-start;
color: var(--primary-color-white);
margin-left: 10px;
}
    .passwordContainer {
  position: relative;
}

    .passwordBtn {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
  top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
}
.passwordIcon {
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: var(--primary-color-white);
}

.formBtn {
  border-radius: 30px;
padding: 12px 29px;
width: 140px;
height: 42px;border-radius: 30px;
padding: 12px 29px;
width: 140px;
height: 42px;
background-color: var(--primary-color-white);
margin-top: 12px;
}

.linkWrapper {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.link {

font-size: 12px;
line-height: 117%;
letter-spacing: -0.02em;
text-decoration: underline;
text-decoration-skip-ink: none;
color: var(--primary-color-form-gray);
text-decoration: none;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 8px;
}
  }

  @media screen and (min-width: 768px) {
   
}
  @media screen and (min-width: 1440px) {
    
}
