

@media screen and (min-width: 320px) and (max-width: 374.99px) {

.funWrapper {
    border-radius: 12px;
width:100%;
max-width: 295px;
height: 244px;
background-color: var(--primary-color-main-gray);
padding: 20px;
}

.funTitle {
font-weight: 700;
font-size: 18px;
line-height: 100%;
margin-bottom: 20px;
}

.funList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.funItem {
    display: flex;
    gap: 12px;
    width:100%;
max-width: 255px;
    height: 54px;
}

.funPosition {
    width:100%;
max-width: 40px;
height: auto;
max-height: 40px;
border-radius: 100%;
background-color: var(--primary-color-white);
font-weight: 700;
font-size: 18px;
line-height: 100%;
display: flex;
justify-content: center;
align-items: center;
color: var(--primary-color-dark-gray);
}

.funDescription {
    font-size: 12px;
font-weight: 500;
color: var(--primary-color-form-gray);
}

.funDescriptionAccent {
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-color-white);
}

.funLink {
font-weight: 500;
text-decoration: underline;
text-decoration-skip-ink: none;
display: flex;
justify-content: space-between;
align-self: center;
color: var(--primary-color-form-gray);
}

.funSvg { 
    width: 24px;
    height: 24px;
}
}

  @media screen and (min-width: 375px) {
.funWrapper {
    border-radius: 12px;
width: 295px;
height: 244px;
background-color: var(--primary-color-main-gray);
padding: 20px;
}

.funTitle {
font-weight: 700;
font-size: 18px;
line-height: 100%;
margin-bottom: 20px;
}

.funList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.funItem {
    display: flex;
    gap: 12px;
    width: 255px;
    height: 54px;
}

.funPosition {
    width: 40px;
height: 40px;
border-radius: 100%;
background-color: var(--primary-color-white);
font-weight: 700;
font-size: 18px;
line-height: 100%;
display: flex;
justify-content: center;
align-items: center;
color: var(--primary-color-dark-gray);
}

.funDescription {
font-weight: 500;
color: var(--primary-color-form-gray);
width: 203px;
height: 54px;
}

.funDescriptionAccent {
    font-weight: 500;
    color: var(--primary-color-white);
}

.funLink {
font-weight: 500;
text-decoration: underline;
text-decoration-skip-ink: none;
display: flex;
justify-content: space-between;
align-items: center;
color: var(--primary-color-form-gray);
}

.funSvg { 
    width: 24px;
    height: 24px;
}

  }

  @media screen and (min-width: 768px) {
   
    
.funWrapper {
width: 313px;
height: 272px;
}

.funTitle {
font-weight: 700;
font-size: 20px;
line-height: 100%;
margin-bottom: 40px;
}

.funList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 26px;
}

.funItem {
    width: 253px;
height: 54px;
}

.funPosition {
    width: 44px;
height: 44px;
font-size: 20px;
}

.funDescription {
width: 197px;
height: 54px;
}

}
  @media screen and (min-width: 1440px) {
    
}
